<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <username>AKIAXRDNI5TRTBAMVZNY</username>
      <password>5hLKdeBLA5gA5eLYkHgHLTpLRJe3xxYJN/nPIK7G</password>
      <id>central</id>
    </server>
    <server>
      <username>AKIAXRDNI5TRTBAMVZNY</username>
      <password>5hLKdeBLA5gA5eLYkHgHLTpLRJe3xxYJN/nPIK7G</password>
      <id>snapshots</id>
    </server>
  </servers>
      <pluginGroups>
        <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
        <pluginGroup>com.spotify</pluginGroup>
    </pluginGroups>
  <profiles>
    <profile>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>libs-release</name>
          <url>/libs-release</url>
        </repository>
        <repository>
          <snapshots />
          <id>snapshots</id>
          <name>libs-snapshot</name>
          <url>s3://s3-test-artifactory/snapshot</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>libs-release</name>
          <url>s3://s3-test-artifactory/snapshot</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots />
          <id>snapshots</id>
          <name>libs-snapshot</name>
          <url>s3://s3-test-artifactory/snapshot</url>
        </pluginRepository>
      </pluginRepositories>
      <id>artifactory</id>
    </profile>
	<profile>
            <id>sonar</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <!-- Optional URL to server. Default value is http://localhost:9000 -->
                <sonar.host.url>
                  https://sonarqube.site1001.com
                </sonar.host.url>
            </properties>
    </profile>
    <profile>
      <id>SUREFIRE-1588</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
        <argLine>-Djdk.net.URLClassPath.disableClassPathURLCheck=true</argLine>
      </properties>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>

