<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <id>s3-test-artifactory</id>  
      <username>AKIAXRDNI5TRTBAMVZNY</username>
      <password>5hLKdeBLA5gA5eLYkHgHLTpLRJe3xxYJN/nPIK7G</password>
    </server>
    <profiles>
    <profile>
      <repositories>
        <repository>
          <id>s3-test-artifactory</id>
          <name>s3-bucket-snapshot</name>
          <url>s3://s3-test-artifactory/snapshot</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>s3-test-artifactory</id>
          <name>s3-bucket-snapshot</name>
          <url>s3://s3-test-artifactory/snapshot</url>
        </pluginRepository>
      </pluginRepositories>
      <id>artifactory</id>
    </profile>
	<profile>
  </servers>
</settings>
